<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIB - Análisis de SMS</title>
</head>
<body>
    <h1>Bienvenido al analizador de SMS</h1>
    
    <!-- Formulario para subir el archivo CSV -->
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Cargar CSV</button> <!-- Botón para enviar el archivo -->
    </form>

    <h2>Acciones</h2>
    
    <!-- Formulario para buscar mensajes -->
    <form action="/buscar_mensajes" method="post">
        <input type="text" name="cadena" placeholder="Buscar palabra..." required>
        <button type="submit">Buscar Mensajes</button>
    </form>

    <!-- Formulario para ver palabras más usadas -->
    <form action="/ver_palabras" method="post">
        <button type="submit">Ver Palabras Más Usadas</button>
    </form>

    <!-- Formulario para ver ubicaciones -->
    <form action="/ver_coordenadas" method="post">
        <button type="submit">Ver Ubicaciones Enviadas</button>
    </form>
</body>
</html>
