<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Búsqueda</title>
</head>
<body>
    <div class="container">
        <h1>Mensajes que contienen '<%= cadena %>'</h1>
        <ul>
            <% mensajes.forEach(mensaje => { %>
                <li>Teléfono: <%= mensaje['Telefono'] %>, Mensaje: <%= mensaje['Mensaje'] %></li>
            <% }); %>
        </ul>
        <a class="back-link" href="/">Volver</a>
    </div>
    <p class="footer">Aplicación desarrollada por DRAKO</p>
</body>
</html>
